@model IEnumerable<JLPTWeb.Models.A_TopicVoc>
@using JLPTWeb.Properties;

@{
    ViewBag.Title = "Study";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Từ vựng</h2>

<div class="list-group">
    @{int i = 1; }
    @foreach (var item in Model)
    {
        <a href="\A_TopicVocDetail\StudyDetail?Id=@item.TopicVocId" target="_blank" class="list-group-item"><span class="label label-default">@i</span> @item.TopicName</a>
        @*<button type="button" class="list-group-item" onclick="ViewDetail('@item.TopicVocId')"><span class="label label-default">@i</span> @item.TopicName</button>*@
        i = i + 1;
    }
</div>